<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="main.js"></script>
  <title>Demo Page</title>
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>
    <input name="x" type="range" min="0" max="400" v-model="data.x">
    <label for="x">{{data.x}}</label>
    <input name="y" type="range" min="0" max="400" v-model="data.y">
    <label for="y">{{data.y}}</label>
    <input name="w" type="range" min="0" max="400" v-model="data.w">
    <label for="w">{{data.w}}</label>
    <input name="h" type="range" min="0" max="400" v-model="data.h">
    <label for="h">{{data.h}}</label>
    <canvas id="time-region" width="400" height="400"></canvas>
  </div>
</body>
</html>